PORT=9000
GEMINI_API_KEY=your_google_gemini_api_key_here
CLIENT_API_KEY=your_secret_auth_key_here
MONGO_URI=mongodb://127.0.0.1:27017/queryai
SUPABASE_DB_URL=postgresql://postgres.yourprojectid:YOUR_PASSWORD_HERE@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
